#header{
    background: #0C60B6;
    /* background: #286c0D; */
}

#logo {
    border-radius: 70;
}

#logo{
    border-radius: 150px;
}

#header{
    background: #09204d;
    height: 95px;
}

#boton-header{
    background:#FC4B08;
    color: white;
}

#section{
    background: linear-gradient(#0C60B6,white,#286c0D);
}

#letra{
    color:#fff;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif ;

}

#let{
    color: #09204d;
    font-size: 25px;
}

#color-let{
    color: black;
    font-size: 25px;
}

#let-one{
 font-size: 48px;
 color:  #fff ;
}

#let-two{
font-size:large ;
color: #09204d;
}


#quienessomos img{
    height: 250px;
    width: 300px;
    border-radius: 20px;

}

/* cards */
#cards{
    background: linear-gradient(#17a2b8,#286c0D);
    color: white;
    height: 355px;
    
}

#cards-one{
    background: linear-gradient(#17a2b8,#286c0D);
    color: white;
    height: 355px;
    
}

#cards h4{
    margin-top: 25%;
}

#cards-one h4{
    margin-top: 25%;
}


/* footer */                    /* footer */              /* footer */
.btn-whatsapp{
    display: block;
    width: 70px;
    height: 70px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
}



.form-control {
    display: block;
    width: 120%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}






/* responsive desing */ /* responsive desing */ /* responsive desing */


@media only screen and (min-width: 1450px) {

    #onda{
        display: none;
    }


}

@media only screen and (max-width: 1024px) {

    #let-one{
        font-size: 40px;
        color:  #f4645a ;
       }

       #telefono{
        transform: translate(5%, -2%);
    }
    #cards-one{
        background: linear-gradient(#17a2b8,#286c0D);
        color: white;
        height: 355px;
        transform: translate(0%, -8%);
    }


}

@media only screen and (max-width: 966px) {

    #color-let{
        color: #FC4B08;
        font-size: 35px;
    }

       #telefono{
        transform: translate(23%, 62%);
    }


}

@media only screen and (max-width: 900px) {

    #color-let{
        color: #FC4B08;
        font-size: 32px;
    }

    #telefono{
        transform: translate(23%, 62%);
    }


}

@media only screen and (max-width: 812px) {

    #telefono{
        transform: translate(23%, 62%);
 }

 #quienessomos img{
    display:none;

}


}




@media only screen and (max-width: 768px) {

    #let-one{
        font-size: 32px;
        color:  #f4645a ;
       }

       #telefono{
        transform: translate(13%, 62%);
        }

        #cuentanos{
            display: none;
        }
        #quienessomos img{
            display:none;
        
        }
        

}



@media only screen and (max-width: 667px) {
    #letra{
       display: none;

    }

    #cards h4{
        margin-top: 15%;
    }

    #cards-one h4{
        margin-top: 15%;
    }
    

    #quienessomos img{
        display:none;
    
    }
    


  #main-dos{
    display: none;
    }

    #cuentanos{
        display: none;
    }

 #suplirola {
     display: none;
 }

}

@media only screen and (max-width: 540px) {
    #cards h4{
        margin-top: 15%;
    }

    #cards-one h4{
        margin-top: 15%;
    }
}

@media only screen and (max-width: 414px) {

    #quienessomos img{
        display:none;
    
    }
    

    #cards h4{
        margin-top: 22%;
    }

    #cards-one h4{
        margin-top: 22%;
    }


  #main-dos{
    display: none;
    }

    #cuentanos{
        display: none;
    }


  #main-dos{
    display: none;
    }


    #color-let{
        color: #FC4B08;
        font-size: 22px;
    }

       #telefono{
        transform: translate(0%, -2%);

       }

       #diseño-img{
        height: 300px;
        width: 250px;
    }




} 


@media only screen and (max-width: 320px) {
    #cards h4{
        margin-top: 30%;
    }

    #cards-one h4{
        margin-top: 30%;
    }
}